<div class="card m-5">
<div class="d-flex justify-content-between">
<div class="m-1"><%= image_tag @user.photo, :height => "150px", :width => "150px" %></div>
<div class="m-5 flex-grow-1"><h1><%= @user.name%></h1></div>
<div class="mb-2 mr-5 d-flex flex-wrap align-content-end"><h5>Number of Posts: <%= @user.post_counter%></h5></div>
</div>
</div>

<div class="card m-5 p-3">
<h4> Bio </h4>
<p><%= @user.bio %></p>
</div>
<% @user.recent_post.each do |post| %>
<div class="card m-5 p-3">
<div class="d-flex justify-content-between">
<div><h3><%= post.title %></h3>
<p><%= post.text %></p></div>
<div class="mb-1 mr-5 d-flex flex-wrap align-content-end">
  <span>Comments: <%= post.comments_counter %></span>
  <span class="ml-2">Likes: <%= post.likes_counter %></span>
</div>
</div>
</div>

<% end %>
<div class="d-flex justify-content-center pb-5">
<button type="button" class="btn btn-primary shadow rounded"><%""%>See all posts</button>
</div>
