
<h2><%= @post.title %> by <%= @post.author.name %></h2>
<div class="p-3">
  <p>Comments: <%= @post.comments.size %></p>
  <p>Likes: <%= @post.likes.size %></p>
</div>
<p><%= @post.text %></p>
<div>
  <h4>Comments:</h4>
  <div>
    <% @post.recent_comments.each do |comment| %>
      <p><%= comment.author.name %>: <%= comment.text %></p>
    <% end %>
  </div>
</div>
