<!DOCTYPE html>
<html>
  <head>
    <title>WeBlogz</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <% if notice %>
      <p class="alert alert-success text-center msg"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger text-center msg"><%= alert %></p>
    <% end %>

    <% if user_signed_in? %>
      <a><%= button_to "Sign out", destroy_user_session_path, method: :delete %></a>
    <% end %>

    <%= yield %>
  </body>
</html>
